<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styleconfig.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-muted" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Menu</div>
            <div class="list-group list-group-flush">

                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="https://francescricart.com/como-usar-iconos-de-fontawesome-o-parecidos-en-una-pagina-web/">Personal Info</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Cards</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Configuration Account</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Themes</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Last Moves</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Etc</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid ">
                <h1 class="mt-4">Personal Info</h1>
                <div class="text-center justify-content">
                    <a href="#">Edit Info</a>
                </div>
                <h4>Account</h4>
                <div class="alert alert-dark" role="alert">
                    User :
                </div>
                <div class="alert alert-dark" role="alert">
                    E-mail :
                </div>
            </div>

            <div class="container-fluid">
                <h4 class="mt-4">Personal</h4>
                <div class="text-center">
                    <a href="#">Edit Personal Info</a>
                </div>
                <div class="alert alert-dark" role="alert">DNI:</div>
                <div class="alert alert-dark" role="alert">Username:</div>
                <div class="alert alert-dark" role="alert">DNI Number:</div>
                <div class="alert alert-dark" role="alert">Telephone Number:</div>
                <div class="alert alert-dark" role="alert">Telephone Recovery:</div>
            </div>


        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripsconfig.js"></script>
</body>
</html>
